{% extends 'expense/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}

<div class="m-7 font-bold flex">Add Expenses <img src="{% static 'expense/images/add.png' %}" class="h-7"></div>
<form method="POST" class="shadow-lg rounded-lg m-10 ">
    {% csrf_token %}
    <div class="form-container px-10 py-10 flex">
        <div class="mx-10">
            <div class="mb-5 mt-5">
                <label class="text-gray-800 font-bold">Expense Name: </label>
            </div>
            <div class="border">{{ expense_form.name  }}</div>
        </div>
        <div class="mx-10">
            <div class="mb-5 mt-5">
                <label class="text-gray-800 font-bold">Expense Amount: </label>
            </div>
            <div class="border">{{ expense_form.amount  }}</div>
        </div>
        <div class="mx-10">
            <div class="mb-5 mt-5">
                <label class="text-gray-800 font-bold">Expense Category: </label>
            </div>
            <div class="border">{{ expense_form.category  }}</div>
        </div>

        <div class="mx-10"><button class="text-white bg-green-800 px-5 py-2 mt-10 rounded-lg " type="submit">Add</button></div>
    </div>
</form>


<div class="m-10 font-bold flex">Expenses <img src="{% static 'expense/images/rupee.png' %}" class="h-7"></div>
<div class="shadow-lg m-10 rounded-lg">
    <div class="expense-header flex flex-wrap space-x-40">
        <span>Name</span>
        <span>Amount</span>
        <span>Category</span>
        <span>Date</span>
        <span>Edit</span>
        <span>Delete</span>
    </div>
    <hr class="m-5">
    {% for expense in expenses %}
    <div class="expense-row flex flex-wrap space-x-40">
        <span class="font-bold">{{expense.name}}</span>
        <span class="font-bold">₹{{expense.amount|intcomma}}</span>
        <span class="font-bold">{{expense.category}}</span>
        <span class="font-bold">{{expense.date}}</span>
        <span class="pl-28"><a href="{% url 'edit' expense.id %}">
            <img class="h-6" src="{% static 'expense/images/edit.png' %}">
        </a></span>
        <span class="">
            <form action="{% url 'delete' expense.id %}" method="POST">
                {% csrf_token %}
                <button name="delete" type="submit">
                    <img class="h-6" src="{% static 'expense/images/delete.png' %}">
                </button>
            </form>
        </span>
    </div>
    <br/>
    {% endfor %}
    <div class="px-80 py-5">
        <span class="font-bold text-gray-700">
            Total : ₹{{ total.amount__sum|intcomma }}
        </span>
    </div>
</div>

<div class="flex">
    <div class="w-1/3 ml-10 shadow-lg rounded-lg ">
        <h2 class="font-bold text-gray-700 px-3 py-2">LAST 365 DAYS</h2>
        <h2 class="font-bold text-xl text-green-700 px-3 py-2">₹{{ yearly_sum.amount__sum|intcomma }}</h2>
    </div>
    <div class="ml-10 shadow-lg rounded-lg w-1/3">
        <h2 class="font-bold text-gray-700 px-3 py-2">LAST 30 DAYS</h2>
        <h2 class="font-bold text-xl text-green-700 px-3 py-2">₹{{ monthly_sum.amount__sum|intcomma }}</h2>
    </div>
    <div class="ml-10 shadow-lg rounded-lg w-1/3">
        <h2 class="font-bold text-gray-700 px-3 py-2">LAST 7 DAYS</h2>
        <h2 class="font-bold text-xl text-green-700 px-3 py-2">₹{{ weekly_sum.amount__sum|intcomma }}</h2>
    </div>
</div>

<div class="flex">
    <!-- Daily Sum -->
    <div class="shadow-lg m-10 w-1/2">
        <div class=" px-20 py-5 flex flex-wrap space-x-40">
            <span class="font-bold">Past 30 days sum expense</span>
        </div>
        <hr>
        <div id="30-day-table">
            {% for daily_sum in daily_sums %}
            <div class="flex flex-wrap px-20 py-3">
                <span class="font-bold">
                    {{ daily_sum.date }}
                </span>
            </div>
            <div class="flex flex-wrap px-20 py-3">
                <span class="font-bold text-green-700">
                    ₹{{ daily_sum.sum }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Category wise Sum -->
    <div class="shadow-lg m-10 w-1/2">
        <div class=" px-20 py-5 flex flex-wrap space-x-40">
            <span class="font-bold">Cateogory Wise Expense Sum</span>
        </div>
        <hr>
        <div id="cat-sum-table">
            {% for category_sum in category_sums %}
            <div class="flex flex-wrap px-20 py-3">
                <span class="font-bold">
                    {{ category_sum.category }}
                </span>
            </div>
            <div class="flex flex-wrap px-20 py-3">
                <span class="font-bold text-green-700">
                    ₹{{ category_sum.sum }}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Chart -->
<div class="flex">
    
    <div class="w-1/2 shadow-lg ml-10">
        <h1 class="m-10 font-bold">Daily Expense Sum</h1>
        <canvas id="myChart"></canvas>
    </div>
    
    <div class="w-1/2 shadow-lg ml-10">
        <h1 class="m-10 font-bold">Expense across Categories</h1>
        <canvas id="newChart"></canvas>
    </div>

</div>

<!-- Chart.js 3.0.2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" integrity="sha512-dnUg2JxjlVoXHVdSMWDYm2Y5xcIrJg1N+juOuRi0yLVkku/g26rwHwysJDAMwahaDfRpr1AxFz43ktuMPr/l1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- chart script -->
<script type="text/javascript">

// daily sum chart logic
    const dates = []
    const date_sum = []
    const dailysumdiv = document.getElementById('30-day-table').getElementsByTagName('div')
    
    for(i=0; i<dailysumdiv.length; i++){
        if(i%2 == 1){
            date_sum.push(dailysumdiv[i].innerText.replace("₹",""))
        }else {
            dates.push(dailysumdiv[i].innerText)
        }
    }
    console.log(date_sum)

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Daily Expense Sum',
                data: date_sum,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    // Category expense chart logic 
    const cats = []
    const total = []
    const catsumdiv = document.getElementById('cat-sum-table').getElementsByTagName('div')
    
    for(i=0; i<catsumdiv.length; i++){
        if(i%2 == 1){
            total.push(catsumdiv[i].innerText.replace("₹",""))
        }else {
            cats.push(catsumdiv[i].innerText)
        }
    }


    var ctx1 = document.getElementById('newChart').getContext('2d');
    var myChart = new Chart(ctx1, {
        type: 'pie',
        data: {
            labels: cats,
            datasets: [{
                label: 'Expense across Categories',
                data: total,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}